@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1, h2 {
    font-family: Open Sans; sans serif;
}

p {
   color: #20B2AA;
}

h1 {
    text-decoration: underline;
    color: blue;
}


img {
    width: 460px;
    height: auto;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    height: 30px;
    width: 275px;
    font-size: 1em;
}

button {
    height: 30px;
    width:  100px;
    font-size: 1.2em;
    margin-top: 30px;
}